body {
  background-color: rgb(133, 140, 140);
}

h1 {
  color: rgb(129, 138, 129);
  margin-left: 20px;
}
p {
  border: 1px solid rgb(246, 244, 244);
  padding: 5px;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0b0b0b;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: rgb(245, 242, 242);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #181818;
}

ul li a.active {
  background-color: #070808;
}
/* Add a lightgray right border to all list items, except the last */
ul li {
  float: left;
  border-right: 1px solid #111010;
}

ul li:last-child {
  border-right: none;
}
table, th, td {
  border: 1px solid rgb(4, 4, 4);
}